@import 'styles/variables';
@import 'styles/functions';

.wrapper {
  font-weight: lighter;

  h2 {
    color: $theme-primary-dark;
    margin: theme-spacing(4) 0;
  }

  p {
    margin: theme-spacing(3) 0;
  }

  em {
    font-weight: bold;
    text-decoration: none;
  }

  dfn {
    margin-right: 5px;
  }
}

.wrapper li {
  margin-left: theme-spacing(3);

  li {
    margin-left: theme-spacing(3);
  }
}

.wrapper {
  ul {
    list-style-type: disc;
  }

  .roman {
    list-style-type: lower-roman;
  }
}

.grid {
  border: 1px solid $theme-primary-dark;
  text-align: left;

  > * {
    border: 1px solid $theme-primary-dark;
  }
}
