<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="podkrepibg-github" value="https://nuget.pkg.github.com/podkrepi-bg/index.json" />
  </packageSources>
  <packageSourceCredentials>
	<podkrepibg-github>
		<add key="Username" value="devops-podkrepi-bg" />
		<add key="ClearTextPassword" value="&#103;hp_wZMwRA1oE6hwdsYDCziboiZFpOkkZs0eaaAt" />
	</podkrepibg-github>	
 </packageSourceCredentials>  
</configuration>