# development, staging, production
APP_ENV=development
# development, production
NODE_ENV=development
# development, production
TARGET_ENV=development

## API ##
#########
NEXT_PUBLIC_API_URL=http://localhost:5010/api/v1

## APP ##
#########
NEXT_PUBLIC_APP_URL=http://localhost:3040
APP_PORT=3040
IMAGE_HOST=localhost

## Sentry ##
############
SENTRY_SERVER_INIT_PATH=/app/.next/server/sentry/initServerSDK.js

## Feature flags ##
###################
NEXT_PUBLIC_FEATURE_CAMPAIGN=true
NEXT_PUBLIC_FEATURE_DUAL_CURRENCY=true

## NextAuth ##
##############
NEXTAUTH_URL=http://localhost:3040
NEXTAUTH_SECRET=super-dev-secret
GOOGLE_ID=
GOOGLE_SECRET=

## Stripe ##
##############
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

## Paypal ##
##############
# using 'sb' as sandbox. no need to put real sandbox key if you don't plan to test requests with backend webhooks
NEXT_PUBLIC_PAYPAL_CLIENT_ID=sb

## IRIS Pay ##
##############
NEXT_PUBLIC_IRIS_PUBLIC_HASH=f75fa38d-ca1b-4241-a01a-58965d444aba

## Ghost ##
###########
GHOST_API_URL=https://blog.podkrepi.bg
GHOST_CONTENT_KEY=86ec17c4b9660acd66b6034682
PODKREPI_EMAIL=admin@podkrepi.bg
PODKREPI_PASSWORD=$ecurePa33
PG_PAYLOAD_SECRET=VerySecretPayload