name: Next.js build

on:
  workflow_dispatch:
  pull_request:
    branches: [master]

jobs:
  build-codebase:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            **/.next/cache
          key: ${{ runner.os }}-build-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-yarn-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build frontend
        run: |
          cp .env.local.example .env.local
          yarn build
