name: Lint

on:
  workflow_dispatch:
  pull_request:
    branches: [master]
    paths:
      - "frontend/**"

jobs:
  run-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        working-directory: frontend
        run: yarn

      - name: Lint frontend
        working-directory: frontend
        run: yarn lint

      - name: Lint styles
        working-directory: frontend
        run: yarn lint:styles
