name: Lint

on:
  workflow_dispatch:
  pull_request:
    branches: [master]

jobs:
  run-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint frontend
        run: yarn lint

      - name: Lint styles
        run: yarn lint:styles
