name: Playwright tests
on:
  workflow_call:
  workflow_dispatch:

jobs:
  run-playwright:
    name: Run Playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: './frontend'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: podkrepi-bg/api
          ref: 366-feature-dump-error-logs-to-a-file-with-an-artifact-in-the-cicd
          path: './api'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            **/.next/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Run db
        working-directory: ./api
        run: docker compose up -d pg-db

      - name: Run stripe webhook
        working-directory: ./api
        env:
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY}}
        run: docker compose up -d stripe-webhook

      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Install backend dependencies and seed database
        working-directory: ./api
        run: yarn && yarn prisma generate && yarn prisma migrate deploy && yarn prisma db seed

      - name: Run backend
        working-directory: ./api
        env:
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY}}
        run: yarn start &

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: yarn

      - name: Build frontend
        working-directory: ./frontend
        run: yarn run next build

      - name: Setup env
        working-directory: ./frontend
        run: cp .env.local.example .env.local

      - name: Wait on backend
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:5010/api/v1/campaign/list
          timeout: 300000

      - name: Test Backend is ready
        working-directory: ./frontend
        run: curl http://localhost:5010/api/v1/campaign/list

      - name: Start frontend
        working-directory: ./frontend
        run: yarn start &

      - name: Install Playwright Browsers
        working-directory: ./frontend
        run: npx playwright install --with-deps

      - name: Wait on frontend
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:3040
          timeout: 120000

      - name: Run Frontend Tests
        working-directory: ./frontend
        run: yarn playwright test e2e/local

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: ./frontend/playwright-report/
          retention-days: 14

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: playwright-results
          path: ./frontend/test-results/
          retention-days: 7

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: api-logs
          repository: podkrepi-bg/api
          ref: 366-feature-dump-error-logs-to-a-file-with-an-artifact-in-the-cicd
          path: ./api/api-error.log
          retention-days: 7
