name: Playwright tests
on:
  workflow_call:
  workflow_dispatch:
env:
  STRIPE_DEV_PUBLISHABLE_KEY: ${{ vars.STRIPE_DEV_PUBLISHABLE_KEY }}

jobs:
  run-playwright:
    name: Run Playwright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          path: './frontend'
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: podkrepi-bg/api
          ref: master
          path: './api'

      - name: Set yarn version
        run: yarn set version berry

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            **/.next/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Run db and keycloak
        working-directory: ./api
        run: docker compose up -d pg-db keycloak

      - name: Run stripe webhook
        working-directory: ./api
        env:
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
        run: docker compose up -d stripe-webhook

      - uses: actions/setup-node@v5
        with:
          node-version: '18'
          cache: yarn
          cache-dependency-path: |
            ./frontend/yarn.lock
            ./api/yarn.lock

      - name: Install backend dependencies
        working-directory: ./api
        run: yarn

      - name: Seed database
        working-directory: ./api
        run: yarn prisma generate && yarn prisma migrate deploy && yarn prisma db seed

      - name: Run backend
        working-directory: ./api
        env:
          STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
          STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
        run: yarn start &> api.log &

      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: yarn install --immutable

      - name: Install e2e Dependencies
        working-directory: ./frontend/e2e
        run: yarn install --immutable

      - name: Setup env
        working-directory: ./frontend
        run: cp .env.local.example .env.local

      - name: Build frontend
        working-directory: ./frontend
        run: yarn run next build

      - name: Wait on backend
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:5010/api/v1/campaign/list
          timeout: 120000

      - name: Test Backend is ready
        working-directory: ./frontend
        run: curl http://localhost:5010/api/v1/campaign/list

      - name: Start frontend
        working-directory: ./frontend
        run: yarn start &> frontend.log &
        env:
          STRIPE_PUBLISHABLE_KEY: ${{ env.STRIPE_DEV_PUBLISHABLE_KEY }}

      - name: Install Playwright Browsers
        working-directory: ./frontend/e2e
        run: yarn run playwright:install

      - name: Wait on frontend
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:3040
          timeout: 120000

      - name: Run Frontend Tests
        working-directory: ./frontend
        run: yarn run test:e2e

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: ./frontend/e2e/test-results/
          retention-days: 14
          overwrite: true

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: ./frontend/e2e/e2e-reports/
          retention-days: 14
          overwrite: true

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs
          path: |
            ./frontend/frontend.log
            ./api/api.log
          retention-days: 14
